.overly {
  display: none;
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.wrapper {
  height: 100vh;
  overflow: auto;
}

.overly.open {
  display: block;
}

.cart {
  margin-top: 97px;
  margin-left: auto;
  height: 488px;
  width: 100%;
  max-width: 377px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 10;

  & .cart-content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.29px;
        text-transform: uppercase;
      }

      & button {
        font: inherit;
        background: transparent;
        border: none;
        text-transform: capitalize;
        color: hsla(0, 0%, 0%, 0.5);
        cursor: pointer;

        &:hover {
          color: hsl(22, 65%, 57%);
          text-decoration: underline;
        }
      }
    }

    & .body {
      & ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: 240px;
        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          width: 0 !important;
        }

        & span {
          margin: auto;
          color: hsla(0, 0%, 6%, 0.5);
          font-weight: 700;
        }

        & li {
          height: 64px;
          display: flex;
          gap: 16px;
          justify-content: space-between;
          align-items: center;

          & img {
            display: block;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center;
          }

          & .cart-item-info {
            flex-grow: 1;

            & .not-available {
              text-decoration: line-through;
            }

            & h4 {
              text-transform: uppercase;

              // cut off text
              --max-lines: 1;
              display: -webkit-box;
              -webkit-line-clamp: var(--max-lines);
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            & span {
              font-size: 14px;
              font-weight: 700;
              color: hsla(0, 0%, 0%, 0.5);
            }
          }

          & .cart-item-action {
            min-width: 96px;
            height: 32px;
            background-color: hsl(0, 0%, 95%);

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            & span {
              font-size: 13px;
              font-weight: 700;
              letter-spacing: 1px;
            }

            & button {
              flex: 1;
              height: 100%;
              background: transparent;
              border: none;
              cursor: pointer;
              color: hsla(0, 0%, 0%, 0.35);

              &:hover {
                color: hsl(22, 65%, 57%);
              }
            }
          }
        }
      }
    }

    & .footer {
      display: flex;
      flex-direction: column;
      gap: 32px;

      & .total-price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span:first-child {
          color: hsla(0, 0%, 0%, 0.5);
          text-transform: uppercase;
        }

        & span:last-child {
          font-size: 18px;
          font-weight: 700;
        }
      }

      & a {
        height: 48px;
        width: 100%;
        background-color: hsl(22, 65%, 57%);
        color: hsl(0, 0%, 100%);
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.03s;

        &:hover,
        &:active {
          background-color: hsl(21, 94%, 75%);
        }
      }
    }
  }
}
