<div data-cart-overly class="overly">
  <div class="container">
    <div class="wrapper">
      <div data-cart class="cart">
        <div class="cart-content">
          <div class="header">
            <span data-cart-total-qty></span>
            <button data-btn-remove-all-items>remove all</button>
          </div>
          <div class="body">
            <ul data-cart-list>
              <!--
              <li>
                <img
                  src="./assets/product-xx99-mark-two-headphones/mobile/image-product.jpg"
                  alt="XX99 Mark II Headphones"
                />
                
                <div class="cart-item-info">
                  <h4>Mark II</h4>
                  <span>5</span>
                </div>
                <div class="cart-item-action">
                  <button>&#8722;</button>
                  <span>2</span>
                  <button>&#43;</button>
                </div>
              </li>
              -->
            </ul>
          </div>
          <div class="footer">
            <div class="total-price">
              <span>total</span>
              <span data-cart-total-price></span>
            </div>
            <a href="/checkout">checkcout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
