<section id="section-catagories">
  <div class="catagory-item">
    <img
      src="/assets/shared/desktop/image-category-thumbnail-headphones.png"
      alt=""
    />

    <div class="catagory-content">
      <label>HEADPHONES</label>
      <a href="/headphones">
        <span>Shop</span>
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="catagory-item">
    <img
      src="/assets/shared/desktop/image-category-thumbnail-speakers.png"
      alt=""
    />

    <div class="catagory-content">
      <label>SPEAKERS</label>
      <a href="/speakers">
        <span>Shop</span>
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>

  <div class="catagory-item">
    <img
      src="/assets/shared/desktop/image-category-thumbnail-earphones.png"
      alt=""
    />

    <div class="catagory-content">
      <label>EARPHONES</label>
      <a href="/earphones">
        <span>Shop</span>
        <svg width="8" height="12" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.322 1l5 5-5 5"
            stroke="#D87D4A"
            stroke-width="2"
            fill="none"
            fill-rule="evenodd"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
