.toast {
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  border-radius: 0.15em;
  font-size: 15px;
  letter-spacing: 1px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  overflow: hidden;
}

.toast-container[data-position$="-right"] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast.progress::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% * var(--progress));
  background-color: rgb(140, 0, 255);
  bottom: 0;
  left: 0;
  right: 0;
}

.toast.can-close::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}

.toast-container {
  position: fixed;
  margin: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast-container[data-position^="top-"] {
  top: 0;
}

.toast-container[data-position^="bottom-"] {
  bottom: 0;
}

.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}
